<div class="row">
  <div class="col-md-9 panel">
    <div class="header">当前话题</div>
    <div class="topic-list">
      <%- partial("topic",topicLists)%>
    </div>
  </div>
  <div class="col-md-3 ">
    <div class="panel">
      <div class="header">个人信息</div>
      <div class="inner">
        <% if(user) {%>
        <div>
          <a class="user_avatar" href="/">
            <img src="https://avatars.githubusercontent.com/u/1946726?">
            <%=user.username%>
          </a>
        </div>
        <div>IT</div>
        <% } else { %>
        <div>请登录</div>
        <% } %>
      </div>
    </div>
    <% if(user) {%>
    <div class="panel">
      <div class="innner">
        <a href="/topic/create"><button class="btn btn-info">发布主题</button></a>
      </div>
    </div>
    <% } %>
  </div>
</div>