<div class="panel">
  <div class="header">个人信息</div>
  <div class="inner">
    <% if(user) {%>
    <div><%=user.username%></div>
    <div>IT</div>
    <% } else { %>
    <div>请登录</div>
    <% } %>
  </div>
</div>