<div class="row">
  <div class="col-md-10 panel">
    <div class="header">发布话题</div>
    <div class="inner">
      <% if(user) { %>
      <form id="topicForm">
        <div class="form-group">
          <input type="text" value="标题" placeholder="标题" name="topicTitle" class="form-control">
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="10" name="topicContent" placeholder="内容">内容</textarea>
        </div>
        <div class="form-group">
          <button type="button" id="topicSendBtn" class="btn btn-info" data-loading-text="发布中...">发布</button>
          <div class="alert alert-danger hide" id="topicCreateMsg">topicCreateMsg</div>
        </div>
      </from>
      <% } else { %>
      <div class="alert alert-danger"><strong>未登入用户不能发布话题。</strong></div>
      <% } %>
    </div>
  </div>
  <div class="col-md-2 ">
    <div class="panel">
      <div class="header">个人信息</div>
        <div class="inner">
          <% if(user) {%>
          <div><%=user.username%></div>
          <div>IT</div>
          <% } else { %>
          <div>请登录</div>
          <% } %>
        </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/js/module/topicService.js"></script>