body {
	background-color: #eee;
  font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Wenquanyi Micro Hei","Microsoft Yahei",Arial,sans-serif;
}

.user_avatar img {
  box-shadow: 0 1px 2px hsla(0,0%,0%,.5);
  width: 30px;
  height: 30px;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

textarea.error,
input[type="text"].error,
input[type="password"].error,
input[type="datetime"].error,
input[type="datetime-local"].error,
input[type="date"].error,
input[type="month"].error,
input[type="time"].error,
input[type="week"].error,
input[type="number"].error,
input[type="email"].error,
input[type="url"].error,
input[type="search"].error,
input[type="tel"].error,
input[type="color"].error,
.uneditable-input.error {
  border: 1px solid #FF0000;
  border-color: rgba(255, 0, 0, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
label.error{
	color:#f00;
}

.main{
  margin: 30px auto;
}

.panel{
  border-radius: 0px;
  box-shadow: 0 1px 1px hsla(0,0%,40%,.47);
  border:0;
  padding: 0;
}

.panel .cell{
  padding: 0 10px 0 10px;
  background: #fff;
  border-top: 1px solid #f0f0f0;
  height: 50px;
  line-height: 50px;
}
.panel .header {
  padding: 7px 10px;
  background-color: #F5F5F5;
  box-shadow: 0 1px 0 #e0e0e0;
}
.panel .inner {
  line-height: 2em;
  padding: 10px;
}

.cell div{
  margin-left: 10px;
}

.cell a.topic-title{
  color: #333;
  font-size:14px;
}